*{
    margin:0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:blueviolet;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    background: #dea2f2;
}

header .header .img-logo{
    width: 70px;
    
}

header .header .img-logo img{
    width: 100%;    
    object-fit: contain;
}

header .header,
header .header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

header .header nav ul li a{
    padding: 10px 15px;
    position: relative;
    display: block;
}    

header .header nav ul li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% - 30px);
    height: 3px;
    background-color: darkorchid;
    opacity: 0;
    transform: translateX(-50%);
}

header .header nav ul li a:hover::before{
    opacity: 1;
}
